<!-- Este é o arquivo de cabeçalho (header) que será incluído em todas as páginas do site. Ele contém a barra de navegação com links para as principais seções do site. -->
<header>
	<nav>
		<ul>
			<li><a href="/">Início</a></li>
			<li><a href="/home">Home</a></li>
			<li><a href="/sobre">Sobre</a></li>
			<li><a href="/contato">Contato</a></li>
		</ul>
	</nav>
</header>

