<%-include('partials/header') %>
    <h1>Bem-vindo!</h1>
    <section class="bg-blue-400 py-16 md:py-24">
        <div class="container mx-auto px-6 max-w-screen-xl grid grid-cols-1 md:grid-cols-3 gap-4">
            <article class="bg-white rounded-xl p-6 shadow-sm hover:shadow-xl hover:-translate-y-1 transition duration-300">
                <h3>📗 Atendimento personalizado</h3>
                <p>
                    Na DualCore Tech, oferecemos um atendimento personalizado para cada cliente, garantindo que suas necessidades sejam atendidas de forma rápida e eficaz.
                </p>
            </article>
            <article class="bg-white rounded-xl p-6 shadow-sm hover:shadow-xl hover:-translate-y-1 transition duration-300">
                <h3>🥼 Profissionais qualificados</h3>
                <p>
                    Nossos profissionais são altamente qualificados e experientes. Estamos comprometidos em fornecer soluções de alta qualidade para atender às suas expectativas.
                </p>
            </article>
            <article class="bg-white rounded-xl p-6 shadow-sm hover:shadow-xl hover:-translate-y-1 transition duration-300">
                <h3>⏱️ Prazos de entrega rápidos</h3>
                <p>
                    Comprometemo-nos com os prazos de entrega, garantindo que seus projetos sejam concluídos dentro do tempo estabelecido.
                </p>
            </article>
        </div>
    </section>
    <%-include('partials/footer') %>