<%-include('partials/header') %>
    <h1>Bem-vindo!</h1>
    <p>Servidor com EJS funcionando.</p>
     <section class="features-container">
        <div class="feature-card">
            <h3>📗 Atendimento personalizado</h3>
            <p>
                Na DualCore Tech, oferecemos um atendimento personalizado para cada cliente, garantindo que suas necessidades sejam atendidas de forma rápida e eficaz.
            </p>
        </div>
        <div class="feature-card">
            <h3>🥼 Profissionais qualificados</h3>
            <p>
                Nossos profissionais são altamente qualificados e experientes.
            </p>
        </div>
        <div class="feature-card">
            <h3>⏱️ Prazos de entrega rápidos</h3>
            <p>
                Comprometemo-nos com os prazos de entrega, garantindo que seus projetos sejam concluídos dentro do tempo estabelecido.
            </p>
        </div>
    </section>
    <%-include('partials/footer') %>