<%-include('partials/header') %>
<section class="sobre-nos">
            <div class="">
                <img src="" alt="">
            </div>
            <div class="sobre-texto">
                <h2>
                    Nossa missão da DualCore Tech
                </h2>
                <p>
                    Na DualCore Tech, nossa missão é fornecer soluções inovadoras em assistencia técnica e de alta qualidade para nossos clientes. Estamos comprometidos em ajudar empresas a alcançar seus objetivos por meio de serviços personalizados, atendimento excepcional e uma equipe de profissionais qualificados. Buscamos constantemente a excelência em tudo o que fazemos, garantindo a satisfação total de nossos clientes.
                </p>
            </div>
        </section>

        <section class="">
            <div class="">
                <h2>
                    Nossa visão
                </h2>
                <p>
                    Na DualCore Tech, nossa visão é ser reconhecida como a principal empresa de assistencia técnica, conhecida por sua excelência em serviços, inovação e compromisso com a satisfação do cliente. Buscamos constantemente expandir nossos horizontes, adotando as últimas tecnologias e tendências do setor para oferecer soluções de ponta. Queremos ser a escolha preferida para empresas e pessoas que buscam assistência técnica confiável e de alta qualidade, contribuindo para o sucesso e crescimento de nossos clientes.
                </p>
            </div>
            <div class="">
                <img src="" alt="">
            </div>
        </section>
<%-include('partials/footer') %>